@use 'hero';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Kalam', cursive;
}

body {
    background-color: orange;
    background: linear-gradient(orange, blue);
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

.button { 
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    background-color: orange;
    text-decoration: none;
    border: 2px solid black;
    text-align: center;
    padding: 5px 5px;
    max-height: 100%;
    border-radius: 5px;

    &:hover {
        filter: brightness(90%);
        transition: .2s;
    }
}